@use "abstracts/variables" as *;

.hero-section input {
  display: block;
  margin: 0 auto 1em auto;
  padding: 0.75em 1em;
  width: 90%;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.hero-section input[type="text"] {
  border: 1px solid $veryDarkBlue;
}

.hero-section input[type="submit"] {
  border: none;
  font: 700 0.8125rem $bodyFont;
  background-color: $brightBlue;
  color: $lightGrayishBlue;
  cursor: pointer;
}
