@use "abstracts/variables" as *;

.testimonial-card {
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  font-size: clamp(0.75rem, 2.5vw, 00.875rem);
  padding: 2em;
  margin: 0 auto;
  max-width: 350px;
}

.bg-quotes {
  margin-bottom: 0.5em;
}

.user-details {
  display: flex;
  align-items: flex-end;
}

.user-picture {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-top: 2em;
  margin-right: 1em;
}

.user-name {
  font-weight: 700;
}

.user-title {
  font-size: clamp(0.625rem, 2.25vw, 0.75rem);
}

@media (min-width: 1100px) {
  .testimonial-card {
    margin: 0;
  }
}
