* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.sr-only {
  display: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #070439;
}

p {
  line-height: 1.5;
}

.hero-section input {
  display: block;
  margin: 0 auto 1em auto;
  padding: 1em 1.5em;
  width: 90%;
  max-width: 450px;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.hero-section input[type=text] {
  border: 1px solid #070439;
}

.hero-section input[type=text]::placeholder {
  color: #bfbfbf;
}

.hero-section input[type=submit] {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  background-color: #3065f8;
  border: none;
  color: #f6f6fe;
  cursor: pointer;
}

.cta-section input {
  display: block;
  margin: 0 auto 1em auto;
  padding: 1em 0.75em;
  width: 80%;
  max-width: 450px;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.cta-section input[type=text]::placeholder {
  color: #bfbfbf;
  font-size: 0.75rem;
}

.cta-section input[type=submit] {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  background-color: #3065f8;
  border: none;
  color: #f6f6fe;
  cursor: pointer;
}

@media (min-width: 1100px) {
  .hero-section input {
    display: inline;
    max-width: 50%;
  }

  .hero-section input[type=submit] {
    margin-left: 1em;
    max-width: 180px;
  }
}
.testimonial-card {
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  font-size: clamp(0.75rem, 2.5vw, 00.875rem);
  padding: 2em;
  margin: 0 auto;
  max-width: 350px;
}

.bg-quotes {
  margin-bottom: 0.5em;
}

.user-details {
  display: flex;
  align-items: flex-end;
}

.user-picture {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-top: 2em;
  margin-right: 1em;
}

.user-name {
  font-weight: 700;
}

.user-title {
  font-size: clamp(0.625rem, 2.25vw, 0.75rem);
}

@media (min-width: 1100px) {
  .testimonial-card {
    margin: 0;
  }
}
html {
  height: 100%;
}

body {
  min-height: 100%;
}

.container {
  width: 85%;
  margin: 0 auto;
}

header {
  margin: 2em 0 6em 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-width: 25%;
}

header nav ul {
  display: flex;
  align-items: center;
}

header li {
  margin-left: 1.5em;
  font-size: clamp(0.75rem, 3.5vw, 1rem);
}

header li a {
  color: #070439;
}

@media (min-width: 1100px) {
  header {
    margin-top: 4em;
  }

  header li {
    font-size: 1.125rem;
    margin-left: 3em;
  }
}
.hero-section {
  margin-bottom: 8em;
}

.hero-section img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto 4em auto;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.5rem, 4vw, 1.625rem);
  text-align: center;
  line-height: 1.5;
  margin: 0 auto 1em auto;
  max-width: 650px;
}

.hero-section p {
  font-size: clamp(0.9375rem, 2vw, 1.0625rem);
  text-align: center;
  margin: 0 auto 2em auto;
  max-width: 650px;
}

@media (min-width: 1100px) {
  .hero-section .container {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
  }

  h1 {
    font-size: clamp(1.625rem, 2.75vw, 2.5rem);
    text-align: left;
    margin-bottom: 0.5em;
  }

  .hero-section img {
    width: 50%;
    max-width: 660px;
  }

  .hero-section p {
    text-align: left;
    max-width: 570px;
    margin: 0 0 2em 0;
  }

  .hero-text-container {
    margin: 3em auto 0 auto;
  }
}
h2 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(1rem, 2.25vw, 1.125rem);
  text-align: center;
  margin-bottom: 1.75em;
}

.info-section {
  background-color: #f8f8fe;
  padding-top: 2em;
  padding-bottom: 6em;
  position: relative;
  border-top: 6px solid #f8f8fe;
}

.info-section-picture {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto 6em auto;
}

.info-text {
  font-size: clamp(0.875rem, 2vw, 1rem);
  color: #070439;
  opacity: 0.7;
  max-width: 700px;
  margin: 0 auto 1.5em auto;
}

.info-section a {
  display: flex;
  align-items: center;
  font-size: clamp(0.8125rem, 2vw, 0.9375rem);
  width: clamp(141px, 22vw, 161px);
  margin: 3em auto 3em auto;
  color: #3c9f8f;
  border-bottom: 1px solid #3c9f8f;
  padding-bottom: 0.4em;
}

.info-section a img {
  margin: 0.1em 0 0 0.5em;
}

.info-mobile-bg {
  position: absolute;
  bottom: 100%;
  width: 100%;
  z-index: -2;
}

.info-desktop-bg {
  display: none;
}

@media (min-width: 1100px) {
  .info-section .container {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
  }

  h2 {
    text-align: left;
    font-size: clamp(1.125rem, 2.75vw, 2.25rem);
    margin-bottom: 1em;
  }

  .info-text {
    max-width: 525px;
    margin: 0 0 1.5em 0;
  }

  .info-section-picture {
    width: 50%;
    max-width: 660px;
  }

  .info-section a {
    margin: 0 0 3em 0;
  }

  .info-text-container {
    margin: 0 auto;
  }

  .info-mobile-bg {
    display: none;
  }

  .info-desktop-bg {
    display: block;
    position: absolute;
    bottom: 100%;
    width: 100%;
    z-index: -2;
  }
}
.cta-section {
  background-color: #585989;
  color: #fff;
  padding-top: 4em;
  padding-bottom: 5em;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.125rem, 2.5vw, 1.25rem);
  text-align: center;
  margin-bottom: 1.25em;
}

.cta-section p {
  font-size: clamp(0.875rem, 2vw, 1rem);
  text-align: center;
  margin: 0 auto 2em auto;
  max-width: 700px;
}

footer {
  background-color: #070439;
  color: white;
  padding: 5em 0;
}

footer img {
  margin-bottom: 3em;
}

footer a {
  color: #fff;
}

footer li {
  margin-bottom: 1em;
}

.contact-links {
  margin-bottom: 4em;
}

.contact-links a {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.contact-links img {
  margin: 0 1.5em 0 0;
}

.footer-links {
  margin-bottom: 4em;
}

.social-links {
  text-align: center;
}

.social-links a {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
  height: 2em;
  width: 2em;
  margin-right: 0.5em;
}