* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.sr-only {
  display: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #070439;
}

.hero-section input {
  display: block;
  margin: 0 auto 1em auto;
  padding: 0.75em 1em;
  width: 90%;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.hero-section input[type=text] {
  border: 1px solid #070439;
}

.hero-section input[type=submit] {
  font: 700 0.8125rem "Open Sans", sans-serif;
  background-color: #3065f8;
  border: none;
  color: #f6f6fe;
  cursor: pointer;
}

.cta-section input {
  display: block;
  margin: 0 auto 1em auto;
  padding: 0.75em 1em;
  width: 90%;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.cta-section input[type=submit] {
  font: 400 0.8125rem "Open Sans", sans-serif;
  background-color: #3065f8;
  border: none;
  color: #f6f6fe;
  cursor: pointer;
}

.testimonial-card {
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 0.75rem;
  padding: 2em 1em 2em 2em;
  line-height: 1.7;
}

.bg-quotes {
  margin-bottom: 0.5em;
}

.user-details {
  display: flex;
  align-items: flex-end;
}

.user-picture {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-top: 2em;
  margin-right: 1em;
}

.user-name {
  font-weight: 700;
}

.user-title {
  font-size: 0.625rem;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.container {
  width: 85%;
  margin: 0 auto;
}

header {
  margin: 2em 0 6em 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-width: 25%;
}

header nav ul {
  display: flex;
  align-items: center;
}

header li {
  margin-left: 1.5em;
  font-size: 0.875rem;
}

header li a {
  color: #070439;
}

.hero-section {
  margin-bottom: 4em;
}

.hero-section img {
  max-width: 100%;
  display: block;
  margin: 0 auto 2em auto;
}

h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1em;
}

.hero-section p {
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 2em;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.75em;
}

.info-section {
  background-color: #f6f6fe;
  padding-bottom: 4em;
}

.info-section-picture {
  max-width: 100%;
  display: block;
  margin: 0 auto 4em auto;
}

.info-text {
  font-size: 0.875rem;
  margin-bottom: 1.5em;
  color: #070439;
  opacity: 0.7;
}

.info-section a {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  width: 132px;
  margin: 0 auto;
  color: #3c9f8f;
  border-bottom: 1px solid #3c9f8f;
  padding-bottom: 0.4em;
  margin-bottom: 4em;
}

.info-section a img {
  margin: 0.1em 0 0 0.5em;
}

.cta-section {
  background-color: #585989;
  color: #fff;
  padding: 4em 0;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2em;
}

.cta-section p {
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 2em;
  line-height: 1.5;
}

footer {
  background-color: #070439;
  color: white;
  font-size: 0.875rem;
  padding: 4em 0;
}

footer img {
  margin-bottom: 3em;
}

footer a {
  color: #fff;
}

footer li {
  margin-bottom: 1em;
}

.contact-links {
  margin-bottom: 4em;
}

.contact-links a {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.contact-links img {
  margin: 0 1.5em 0 0;
}

.footer-links {
  margin-bottom: 3em;
}

.social-links {
  text-align: center;
}

.social-links a {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
  height: 2em;
  width: 2em;
  margin-right: 0.5em;
}