@use "abstracts/variables" as *;

header {
  margin: 2em 0 6em 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-width: 25%;
}

header nav ul {
  display: flex;
  align-items: center;
}

header li {
  margin-left: 1.5em;
  font-size: clamp(0.75rem, 3.5vw, 1rem);
}

header li a {
  color: $veryDarkBlue;
}

@media (min-width: 1100px) {
  header {
    margin-top: 4em;
  }
  header li {
    font-size: 1.125rem;
    margin-left: 3em;
  }
}
