@use "abstracts/variables" as *;

.hero-section {
  margin-bottom: 8em;
}

.hero-section img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto 4em auto;
}

h1 {
  font-family: $headerFont;
  font-size: clamp(1.5rem, 4vw, 1.625rem);
  text-align: center;
  line-height: 1.5;
  margin: 0 auto 1em auto;
  max-width: 650px;
}

.hero-section p {
  font-size: clamp(0.9375rem, 2.5vw, 1.0625rem);
  text-align: center;
  margin: 0 auto 2em auto;
  max-width: 650px;
}
