@use "abstracts/variables" as *;

.info-section {
  background-color: $lightGrayishBlue;
  padding-bottom: 4em;
}

.info-section img {
  max-width: 100%;
  display: block;
  margin: 0 auto 4em auto;
}

h2 {
  font-family: $headerFont;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.75em;
}

.info-text {
  font-size: 0.875rem;
  margin-bottom: 1.5em;
  color: $veryDarkBlue;
  opacity: 0.7;
}

.info-section a {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  width: 132px;
  margin: 0 auto;
  color: $moderateCyan;
  border-bottom: 1px solid $moderateCyan;
  padding-bottom: 0.4em;
  margin-bottom: 4em;
}

.info-section a img {
  margin: 0.1em 0 0 0.5em;
}
