@use "abstracts/variables" as *;

h2 {
  font-family: $headerFont;
  font-size: clamp(1rem, 2.25vw, 1.125rem);
  text-align: center;
  margin-bottom: 1.75em;
}

.info-section {
  background-color: #f8f8fe;
  padding-top: 2em;
  padding-bottom: 6em;
  position: relative;
  border-top: 6px solid #f8f8fe;
}

.info-section-picture {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto 6em auto;
}

.info-text {
  font-size: clamp(0.875rem, 2vw, 1rem);
  color: $veryDarkBlue;
  opacity: 0.7;
  max-width: 700px;
  margin: 0 auto 1.5em auto;
}

.info-section a {
  display: flex;
  align-items: center;
  font-size: clamp(0.8125rem, 2vw, 0.9375rem);
  width: clamp(141px, 22vw, 161px);
  margin: 3em auto 3em auto;
  color: $moderateCyan;
  border-bottom: 1px solid $moderateCyan;
  padding-bottom: 0.4em;
}

.info-section a img {
  margin: 0.1em 0 0 0.5em;
}

.info-mobile-bg {
  position: absolute;
  bottom: 100%;
  width: 100%;
  z-index: -2;
}

.info-desktop-bg {
  display: none;
}

@media (min-width: 1100px) {
  .info-section .container {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
  }

  h2 {
    text-align: left;
    font-size: clamp(1.125rem, 2.75vw, 2.25rem);
    margin-bottom: 1em;
  }

  .info-text {
    max-width: 525px;
    margin: 0 0 1.5em 0;
  }

  .info-section-picture {
    width: 50%;
    max-width: 660px;
  }

  .info-section a {
    margin: 0 0 3em 0;
  }

  .info-text-container {
    margin: 0 auto;
  }

  .info-mobile-bg {
    display: none;
  }

  .info-desktop-bg {
    display: block;
    position: absolute;
    bottom: 100%;
    width: 100%;
    z-index: -2;
  }
}
